.App {
  /* background: rgba(0, 255, 0, 255); */
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Video {
  border: 1px solid white;
}

.Button {
  background: transparent;
  border: none;
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
  outline: none;
}
