.App {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Video {
  width: 360px;
}

.Button {
  border: none;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
