.App {
  /* background: rgba(0, 255, 0, 255); */
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Video {
  border: 1px solid white;
  margin-bottom: 20px;
}

.Button {
  background: transparent;
  border: none;
  font-size: 30px;
}
